<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>{{title}}</title>
    <style>
        /*--Just to make the words wrap properly for now*/
        p {white-space: pre-wrap;}
    </style>
</head>

<body>
    <!-- Loops through each section of the novel_text list -->
    {% set count = [0] %}
    {% for value in content %}
        {% if value.find("filename=") >= 0 %}
            {% set current_value = count[0] %}
            <p>
            <image src="{{ url_for('static', filename=images[current_image_loc][current_value])}}"/>
            </p>
            {% set count = count.append(count.pop() + 1) %}
            {% else %}
            <p> 
                {{value}}
            </p>
        {% endif %}
    {% endfor %}

    <p><a href="{{ url_for('reader', chapter=prev)}}">Previous Chapter</a></p>
    <p><a href="{{ url_for('reader', chapter=next)}}">Next Chapter</a></p>

</body>

</html>